<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guest Book</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
      <!--<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">-->

      <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
      <!--Here we can use both the methods to link the files-->
    <!--<link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">-->
    <link href="static/theme.css" rel="stylesheet">
  </head>

  <body>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>Guest Book</h1>
        <a type="button" class="btn btn-link" href="{{ url_for('signpage') }}">Sign the Guest Book</a>
          <!--making link to the sign route declared under the signpage function-->
      </div>
        {% for r in results %}
      <div class="page-header">
        <h1>{{ r.name }}</h1>
      </div>
      <div class="well">
        <p>{{ r.comment }}</p>
      </div>
    {% endfor %}
    </div> <!-- /container -->

  </body>
</html>